{% extends "users_roles/base.html" %}
{% block content %}
<div class="text-right">
    <a role="button" class="btn btn-primary" href="{% url 'create_group' %}">ADD GROUP</a>
    <br>
    <br>
</div>
<table style="width:100%" border="1px solid black">
    <tr>
        <th class="text-center">Group name</th>
        <th class="text-center">Group description</th>
        <th class="text-center">Actions</th>
    </tr>
{% for group in groups %}
    <tr>
        <th>{{ group.group_name }}</th>
        <th>{{ group.group_description }}</th>
        <th width="29%">
            <div class="container">
                <div class="row">
                <div class="col-sm">
                    <a class="btn btn-outline-primary" role="button" href="{% url 'edit_group' group.id %}">Edit Group</a>
                </div>
                <div class="col-sm">
                    <form method="POST" action="{% url 'delete_group' group.id %}">
                {% csrf_token %}
                <button id="delete" type="submit" class="btn btn-outline-primary">Delete</button>
            </form>
                </div>
            </div>
                </div>
        </th>
    </tr>
{% endfor %}
</table>
{% endblock %}